(function($) {
    'use strict';
    
    /**
     * Initialisation du bloc
     */
    function init() {
        // Votre code ici
    }
    
    // Exécute init() une fois que le DOM est chargé
    $(document).ready(init);
    
})(jQuery);
